<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>软件下载</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <% softwares.forEach(function (software, index) { %>
                                <li class="breadcrumb-item">
                                    <span><%= software.name %></span>
                                </li>
                                <% }) %>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- cta-area-start -->
    <div class="cta-area theme-bg pt-50 pb-50 mt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 col-md-8">
                    <div class="cta-text">
                        <h2><span class="lnr lnr-sun"></span>下载软件之后需要&nbsp;<a href="/contact"
                                                                              class="font-italic extra-contact">联系我们</a>&nbsp;&nbsp;获取软件密码才能使用哦
                        </h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-4">
                    <div class="cta-button text-md-right">
                        <a class="btn white-btn" href="/contact">联系我们
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-area-end -->

    <div class="container mt-100 mb-100">
        <% softwares.forEach(function (software, index) { %>
        <div class="row gray-bg mb-50">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="zoomImage" style="background-image: url(<%= software.figure %>)"></div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="flex-sc mt-100">
                    <h4 style="color: skyblue;">软件名称: </h4>&nbsp;&nbsp;
                    <h5 style="color: #777777"><%= software.name %></h5>
                </div>
                <div class="flex-sc mt-10">
                    <h4 style="color: skyblue;">软件版本: </h4>&nbsp;&nbsp;
                    <h5 style="color: #777777"><%= software.version %></h5>
                </div>
                <div class="flex-sc mt-10">
                    <h4 style="color: skyblue;">硬件环境: </h4>&nbsp;&nbsp;
                    <h5 style="color: #777777"><%= software.environment %></h5>
                </div>
                <div class="flex-sc mt-10">
                    <h4 style="color: skyblue;">语言: </h4>&nbsp;&nbsp;
                    <h5 style="color: #777777"><%= software.lang %></h5>
                </div>
                <div class="flex-sc mt-10">
                    <h4 style="color: skyblue;">操作系统: </h4>&nbsp;&nbsp;
                    <h5 style="color: #777777"><%= software.system %></h5>
                </div>
                <div class="flex-sc mt-30">
                    <a data-animation="fadeInLeft" data-delay="1.2s" href="<%= software.linkUrl %>" class="btn brand-btn"
                       style="animation-delay: 1.2s;margin-right: 20px"
                       tabindex="0">立即下载
                    </a>
                    <!--<a data-animation="fadeInLeft" data-delay="1.2s" href="<%= software.video %>" class="btn brand-btn"-->
                       <!--style="animation-delay: 1.2s;"-->
                       <!--tabindex="0">功能演示-->
                    <!--</a>-->
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>