<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>新闻动态</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <span>行业</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>天磁</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <div class="container">
        <% news.forEach(function (item, index) { %>
        <div class="row mt-50 mb-50">
            <div class="media">
                <div class="media-left media-middle tianci-data">
                    <i><%= moment(item.meta.updateAt).get('year') %>年<%= moment(item.meta.updateAt).get('month')+1 %>月</i>
                    <p><%= moment(item.meta.updateAt).get('date') %>日</p>
                </div>
                <div class="media-body">
                    <a href="/news/<%= item._id %>" target="_blank">
                        <h5 class="media-heading"><%= item.title %></h5>
                    </a>
                </div>
            </div>
        </div>
       <% }) %>
    </div>
</div>