<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210"
         data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>案例详情</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <div class="promotion-area mt-50">
        <div class="container gray-bg">
            <% projects.forEach(function (project, index) { %>
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3><%= project.title %></h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="<%= project.imgUrl %>" alt="" style="width: 60%"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：<%= project.company %></h6>
                        </div>
                    </div>
                    <% if (project.comment) { %>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            <%= project.comment %>
                        </p>
                        <h6 class="fa-pull-right">
                            ——<%= project.commentFrom %>
                        </h6>
                    </div>
                    <% } %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

</div>