<!-- wrapper-box start -->
<div class="wrapper-box p-0 gray-bg">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>人才招聘</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->


    <div class="container mt-50">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="who-we-box white-bg">
                    <h2 class="mb-20 tc">加入我们 一起探索协同的奥秘</h2>
                    <p class="suojin weintern-font-larger">
                        作为一家高新创业科技公司，天磁多年来求贤若渴，礼贤下士，人才是成就我们非凡事业的关键。天磁诚邀各方英才加入我们的团队，实现您的职业生涯理想。
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-50 pb-50">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-title text-center mb-50">
                    <h2>岗位招聘</h2>
                </div>
            </div>
        </div>
        <div class="row service-wrapper-2 white-bg">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <% jobs.forEach(function (job, index) { %>
                <div class="service-box service-3">
                    <h3>
                        <a href="javascript:;"><%= job && job.jobname %></a>
                    </h3>

                    <% if(job && job.requirement) { %>
                    <h5 class="mt-20">
                        <a href="javascript:;">岗位要求</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <% job && job.requirement && job.requirement.split("||").forEach(function (item, index) { %>
                        <li><span class="lnr lnr-pointer-right mr-10"></span><%= item %></li>
                        <% })%>
                    </ul>
                    <% } %>

                    <% if(job && job.duty) { %>
                    <h5 class="mt-20">
                        <a href="javascript:;">岗位职责</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <% job.duty && job.duty.split("||").forEach(function (item, index) { %>
                        <li><span class="lnr lnr-pointer-right mr-10"></span><%= item %></li>
                        <% })%>
                    </ul>
                    <% } %>

                    <% if (job && job.address) { %>
                    <h5 class="mt-20">工作地点</h5>
                    <p><%= job.address %></p>
                    <% } %>

                    <% if(job && job.note) { %>
                    <h5 class="mt-20">
                        <a href="javascript:;">备注</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <% job.note && job.note.split("||").forEach(function (item, index) { %>
                        <li><span class="lnr lnr-pointer-right mr-10"></span><%= item %></li>
                        <% })%>
                    </ul>
                    <% } %>

                    <% if (job && job.applyWay) { %>
                    <h5 class="mt-20">投递方式</h5>
                    <p><%= job.applyWay %></p>
                    <% } %>

                    <!--<a data-animation="fadeInLeft" data-delay="1.2s" target="_blank" href="/resume?jobname=encodeURIComponent("C++/C#/VB软件开发")"-->
                    <!--class="service-link btn brand-btn"-->
                    <!--style="animation-delay: 1.2s;">简历投递-->
                    <!--<span>→</span>-->
                    <!--</a>-->
                </div>
                <% }) %>
            </div>
        </div>
    </div>

</div>