<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁产品应用案例</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <% projectCategorys.forEach(function (projectCategory, index) { %>
                                <li class="breadcrumb-item">
                                    <span><%= projectCategory.name %></span>
                                </li>
                                <% })%>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- services-area start -->
    <div class="services-area pt-115 pb-60">
        <div class="container">
            <div class="row">
                <% projectCategorys.forEach(function (projectCategory, index) { %>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="service-box service-3 mb-50">
                        <img src="<%= projectCategory.imgUrl %>" alt="<%= projectCategory.name %>">
                        <h3>
                            <a href="/project/category/<%= projectCategory._id %>"><%= projectCategory.name %></a>
                        </h3>
                        <p><%= projectCategory.desc %>.</p>
                        <a data-animation="fadeInLeft" data-delay="1.2s" href="/project/category/<%= projectCategory._id %>" class="service-link btn brand-btn"
                           style="animation-delay: 1.2s;">查看详情
                            <span>→</span>
                        </a>
                    </div>
                </div>
                <% })%>
            </div>
        </div>
    </div>
</div>