extends ../layout
block content
	.container
		.row
			.col-md-12
				table.table.table-hover.table-bordered
					thead
						tr
							th 序号
							th 用户名
							th(style="text-align:center;width:100px;") 用户权限
							th 行业
							th 公司
							th 邮箱
							th 手机号
							th 注册时间
							th(style="text-align:center;width:120px;") 操作
							th(style="text-align:center;width:100px;") 修改权限
					tbody
						each item,index in users
							tr(class="item_id_#{item._id}")
								td(style="vertical-align: middle;") #{index+1}
								td(style="vertical-align: middle;") #{item.name}
								td(class="role_#{item._id}", style="vertical-align: middle;")
									if item.role === 7
										| 超级管理员
									else if item.role === 6
										| 定制管理员
									else if item.role === 4
										| 行业管理员
									else if item.role === 2
										| 公司管理员
									else if item.role === 1
										| 普通管理员
								td(style="vertical-align: middle;")
									if item.role === 1
										| /
									else if item.role === 7
										| 交通研究中心
									else if item.role === 6
										button.btn.btn-info.btn-categories-multiple-selected(type="button", data-content="#{item.partDepartment}", data-toggle="modal", data-id="#{item._id}") 配置行业
									else if item.role === 4
										span.dropdown(style="display: inline-block;")
											button.btn.btn-success.dropdown-toggle(id="dLable", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
												if item.department
													| #{item.department}
												else
													| 选择行业
												span.caret
											ul(class="dropdown-menu", aria-labelledby="dLable")
												for _item in categories
													li
														a
															button.btn.btn-primary.change-department(type="button", data-toggle="modal", data-content="#{_item.name}",data-id="#{item._id}", disabled=item.department === _item.name) #{_item.name}
									else if item.role === 2
										| /
								td(style="vertical-align: middle;")
									if item.role === 1
										| /
									else if item.role === 7
										| 交通研究中心
									else if item.role === 6
										if item.partDepartment && item.partDepartment.length > 0
											| #{item.partDepartment.join(',')}
										else
											| 行业管理中心
									else if item.role === 4
										| /
									else if item.role === 2
										span.dropdown(style="display: inline-block;")
											button.btn.btn-success.dropdown-toggle(id="dLable", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
												if item.company
													| #{item.company}
												else
													| 选择公司
												span.caret
											ul(class="dropdown-menu", aria-labelledby="dLable")
												for _item in companies
													li
														a
															button.btn.btn-primary.change-company(type="button", data-toggle="modal", data-content="#{_item.name}",data-id="#{item._id}", disabled=item.company === _item.name) #{_item.name}
								td(style="vertical-align: middle;") #{item.email}
								td(style="vertical-align: middle;") #{item.tel}
								td(style="vertical-align: middle;") #{moment(item.meta.createAt).format("MM/DD/YYYY")}
								td(style="vertical-align: middle;text-align:center")
									button.btn.btn-danger.del(type="button", disabled=item._id.toString() === localUser._id.toString() || item.role === 7, data-id="#{item._id}",data-toggle="modal") 删除
								td(style="vertical-align: middle;text-align:center")
									span.dropdown(style="display: inline-block;")
										button.btn.btn-success.dropdown-toggle(id="dLable", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", disabled=item._id.toString() === localUser._id.toString()) 权限管理
											span.caret
										ul(class="dropdown-menu", aria-labelledby="dLable")
											li
												a
													button.btn.btn-primary.change-role(class="btn_role_7", data-toggle="modal", data-id="#{item._id}", data-role=7, disabled=item.role === 7) 超级管理员
											li
												a
													button.btn.btn-primary.change-role(class="btn_role_6", data-toggle="modal", data-id="#{item._id}", data-role=6, disabled=item.role === 6) 定制管理员
											li
												a
													button.btn.btn-primary.change-role(class="btn_role_4", data-toggle="modal", data-id="#{item._id}", data-role=4, disabled=item.role === 4) 行业管理员
											li
												a
													button.btn.btn-primary.change-role(class="btn_role_2", data-toggle="modal", data-id="#{item._id}", data-role=2, disabled=item.role === 2) 公司管理员
											li
												a
													button.btn.btn-primary.change-role(class="btn_role_1", data-toggle="modal", data-id="#{item._id}", data-role=1, disabled=item.role === 1) 普通管理员
	#del-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 提示
				.modal-body
					h4(style="color:#c9302c") 确定删除该用户吗？删除后该用户下数据也被删除!
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success.btn-del-success(type="button") 确定

	#change-role-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 提示
				.modal-body
					h4(style="color:#c9302c") 确定修改权限, 修改权限将会导致用户得到或失去某种权限！
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success.btn-change-role-success(type="button") 确定
	#change-department-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 提示
				.modal-body
					h4(style="color:#c9302c") 确定修改用户的所属行业?
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success.btn-change-department-success(type="button") 确定
	#change-company-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 提示
				.modal-body
					h4(style="color:#c9302c") 确定修改用户的所属公司?
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success.btn-change-company-success(type="button") 确定

	#categories-multiple-selected-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 请选择行业配置
				.modal-body
					select.selectpicker(multiple, data-live-search="true", data-selected-text-format="count > 3", title="请选择")
						for _item in categories
							option(value="#{_item.name}") #{_item.name}
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") 取消
					button.btn.btn-success.btn-change-categories-selected(type="button") 确定
	script.
		// 删除弹窗
		var userId = null;
		var tr = null;
		$(".del").click(function () {
			$("#del-modal").modal();
			userId = $(this).data("id");
			tr = $(this).parents("tr");
		})
		$(".btn-del-success").click(function () {
			if (userId) {
				$.ajax({
					type: 'DELETE',
					url: '/tsmsjtu/user/list/del' + "?id=" + userId
				}).done(function (res) {
					if (res.success === 1) {
						if (tr.length > 0) {
							tr.remove();
						}
					}
				})
			}
			$("#del-modal").modal('hide');
		})

		// 确认修改权限弹窗
		var changeId = null;
		var changeRole = null;
		$('.change-role').bind('click', function () {
			$('#change-role-modal').modal();
			changeId = $(this).data('id');
			changeRole = $(this).data('role');
		})
		$('.btn-change-role-success').bind('click', function () {
			if (changeId && changeRole) {
				$.ajax({
					type: 'POST',
					url:'/tsmsjtu/user/list/role',
					data: {
						userId: changeId,
						newRole: changeRole
					}
				}).done(function (res) {
					if (res.success === 1) {
						window.location.href = '/tsmsjtu/user/list';
					}
				})
			}
			$('#change-role-modal').modal('hide')
		})

		// 确认修改用户所属行业弹窗
		var userDepartmentId = null;
		var department = null;
		$('.change-department').bind('click', function () {
			$('#change-department-modal').modal();
			userDepartmentId = $(this).data('id')
			department = $(this).data('content')
		})
		$('.btn-change-department-success').bind('click', function () {
			if (userDepartmentId && department) {
				$.ajax({
					type: 'POST',
					url: '/tsmsjtu/user/list/department',
					data: {
						userDepartmentId: userDepartmentId,
						department: department
					}
				}).done(function (res) {
					if (res.success === 1) {
						window.location.href = '/tsmsjtu/user/list'
					}
				})
			}
			$('#change-department-modal').modal('hide')
		})

		// 确认用户修改所属公司的弹窗
		var userCompanyId = null;
		var company = null;
		$('.change-company').bind('click', function () {
			$('#change-company-modal').modal();
			userCompanyId = $(this).data('id')
			company = $(this).data('content')
		})
		$('.btn-change-company-success').bind('click', function () {
			if (userCompanyId && company) {
				$.ajax({
					type: 'POST',
					url: '/tsmsjtu/user/list/company',
					data: {
						userCompanyId: userCompanyId,
						company: company
					}
				}).done(function (res) {
					if (res.success === 1) {
						window.location.href = '/tsmsjtu/user/list'
					}
				})
			}
			$('#change-company-modal').modal('hide');
		})

		// 配置行业多选的弹窗
		var userCategoriesId = null;
		$(".btn-categories-multiple-selected").click(function () {
			$("#categories-multiple-selected-modal").modal();
			userCategoriesId = $(this).data('id');
			let partDepartment = $(this).data('content').split(',');
			$('.selectpicker').selectpicker('val', partDepartment);
		})
		$(".btn-change-categories-selected").click(function () {
			var partDepartment = $('.selectpicker').selectpicker('val');
			if(partDepartment && partDepartment.length > 0) {
				$.ajax({
					type: 'POST',
					url: '/tsmsjtu/user/list/categories',
					data: {
						userId: userCategoriesId,
						partDepartment: partDepartment
					}
				})
			}
			$('#categories-multiple-selected-modal').modal('hide');
			location.reload();
		})